<mat-card *ngIf="selectedMachine$ | async as selectedMachine">
  <mat-card-title>
    {{ selectedMachine.name }}
  </mat-card-title>
  <mat-card-content>
    <dl>
      <dt class="title">Current status:</dt>
      <dd>
        <app-machine-status [status]="selectedMachine.currentStatus"></app-machine-status>
      </dd>
      <dt class="title">Statuses ({{ selectedMachine.statuses.length }})</dt>
      <dd>
        <div *ngFor="let status of selectedMachine.statuses">
          <app-machine-status [status]="status.status"></app-machine-status>
          <span>{{status.date | date:'h:mm:ss a' }}</span>
        </div>
      </dd>
    </dl>
  </mat-card-content>
</mat-card>
